{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--div class="content"  style="background-image: url('/static/img/banner.jpg'); background-repeat:no-repeat; margin-top: -21px;" -->
<div class="content"></div>
<!-- Begin Site Title
================================================== -->
<div class="container">
        <div class="mainheading">
            <h1 class="sitetitle"></h1>
            <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>  
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.          </p>
        </div>
    <!-- End Site Title
    ================================================== -->
    
        <!-- Begin List Posts
        ================================================== -->
        <section class="recent-posts">
        <div class="section-title">
            <h2><span>Últimas Leis</span></h2>
        </div>
        <div class="card-columns listrecent">
            <!-- begin post -->

          {% for lei in leis%}
            <div class="card">
                <a href="post.html">
                    <img class="img-fluid" src="" alt="">
                </a>
                <div class="card-block">                    
                    <h2 class="card-title"><a href="{% url 'leis:details'  pk=lei.id %}"> {{lei.name}}</a></h2>
                    <h4 class="card-text">{{lei.description}}</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            <span class="meta-footer-thumb">
                            <!--a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a-->
                            </span>
                            <span class="author-meta">
                            <span class="post-name">Última atualização:</span><br/>
                            <span class="post-date">{{lei.updated_at}}</span>
                            </span>
                            <!--span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span-->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}  
            <!-- end post -->
    
        </div>
        </section>
        <!-- End List Posts
        ================================================== -->

         <!-- Begin List Posts
        ================================================== -->
        <section class="recent-posts">
        <div class="section-title">
            <h2><span>Últimos Pacotes</span></h2>
        </div>
        <div class="card-columns listrecent">
            <!-- begin post -->

          {% for pacote in pacotes %}
            <div class="card">
                <a href="post.html">
                    <img class="img-fluid" src="" alt="">
                </a>
                <div class="card-block">                    
                    <h2 class="card-title"><a href="{% url 'pacotes:details'  pk=pacote.id %}"> {{pacote.name}}</a></h2>
                    <h4 class="card-text">{{pacote.description}}</h4>
                    <div class="metafooter">
                        <div class="wrapfooter">
                            <span class="meta-footer-thumb">
                            <!--a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a-->
                            </span>
                            <span class="author-meta">
                            <span class="post-name">Última atualização:</span><br/>
                            <span class="post-date">{{pacote.updated_at}}</span>
                            </span>
                            <!--span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span-->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}  
            <!-- end post -->
    
        </div>
        </section>
        <!-- End List Posts
        ================================================== -->
</div>
{% endblock %}