#banner{
    background-color: #f7941d;
    height: 320px;
    margin-bottom:20px;
    padding-top:30px;
}

.btn-banner{
    color: #fff;
    background-color: #f7941d !important;
    border-color: #f7941d !important;
}

.btn-banner:hover{
    
    background-color: #e8840b  !important;
    border-color: #e8840b  !important;
}

#banner-text{
    color: white;
    font-size: 20px;
}

.footer a{
    color:#f7941d;
}

#logo{
    margin: 0 !important;
    padding: 0 !important;
}

.navbar{
    margin: 0 !important;
    padding: 0 !important;
}
