
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
      
        <!-- Begin Article
        ================================================== -->
        <div class="container">
            <div class="row">
       
                <!-- Begin Post -->
                <div class="col-md-12" id="conteudo">
                    
                    
                      <div class="col-md-11 text-right" id="ordenacoes">      
                        <a id="btnAumentaaar"  onclick="toggleFullScreen(document.body)"><i class="fas fa-arrows-alt"></i></a> |                         
                        <a id="btnAumentar" ><i class="fas fa-font"></i>+</a> |                         
                        <a id="btnDiminuir" ><i class="fas fa-font"></i>-</a> |                         
                        <a id="largura-conteudo" ><i class="fas fa-arrows-alt-h"></i></a> |                         
                        <a id="ordenacao" >+ importantes</a> | 
                        <a id="reset" >+ reset</a>                                              
                      </div>
                      
                   
                    <div class="mainheading">
                    <h1 class="posttitle">{{lei.name}}</h1>

                    </div>
                    <!-- Begin Post Content -->
                    <div id="container-artigos" >
                    <div class="article-post" > 
                        
                        {% for artigo in artigos %}  
                        <div class="row row-artigo">
                          <div class="col-md-10 text-justify">
                            <span class='artigo  {% if artigo.is_marcado %} highlight {%endif%}'  data-artigo = "{{artigo.pk}}" data-lei = "{{lei.pk}}" data-usuario = "{{user.pk}}">                           
                               {{artigo}}
                            </span>
                          </div>
                          <div class="col-md-2 text-right">
                            <div class="botoes">
                              <span class = "nota" data-nota-linha = "{{artigo.pk}}"  data-comentario=" {% if artigo.description %} {{artigo.description}}  {%endif%}"  data-artigo = "{{artigo.pk}}" data-lei = "{{lei.pk}}" data-usuario = "{{user.pk}}" >
                                <img class="fas fa-sticky-note glyph-icon{% if not artigo.description %} opacidade {%endif%}'"  /> 
                              </span>
                              <span class = "voto" data-linha = "{{artigo.pk}}"  >
                                <span class='voto-up' data-tipo="1"  data-comentario="{{artigo.description}}"  data-artigo = "{{artigo.pk}}" data-lei = "{{lei.pk}}" data-usuario = "{{user.pk}}"><i class="fas fa-angle-up"></i></span>
                                <span class='qtd-voto'>{% if artigo.votos %}{{artigo.votos}}{% else %}0{%endif%}</span>                           
                                <span class='voto-down' data-tipo="0" data-comentario="{{artigo.description}}"  data-artigo = "{{artigo.pk}}" data-lei = "{{lei.pk}}" data-usuario = "{{user.pk}}"><i class="fas fa-angle-down"></i></span>
                              </span>
                            </div> 
                         </div> 
                        </div>
                        {% endfor %}
                    </div>
                    </div>
                    <!-- End Post Content -->
        
                    
                </div>
                <!-- End Post -->
               
            </div>
        </div>
        <!-- End Article
        ================================================== -->

<!-- Modal -->

<div class="modal right fade"  id="modelComentario" tabindex="-1" role="dialog" aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModal2Label">Comentário</h4>
        </div>
        <div class="modal-body">
            <textarea class="form-control estilo" rows="10" cols="50" id="comment" required="required"></textarea>
                   
                      
        </div>
        <div class="modal-footer">          
          <a class="btn-del-comentario" href="#">delete</a>
          <button type="button"  class="btn btn-default btn-fechar-comentario" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary btn-salvar-comentario">Salvar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  

{% endblock %}