{% extends 'base.html' %}
{% block content %}
  <!-- Begin Article
    
        ================================================== -->
        <div class="container">
                <div class="row"> 
                <div id="breadcrumb">
                        {% block breadcrumb%}
                            <a href="{% url 'accounts:dashboard' %}">Meu Painel</a>
                        {% endblock%}
                </div>         
            </div>
                <div class="row ">      
                          
                    <!-- Begin Fixed Left Share -->
                    <div class="col-md-2 col-xs-12" id="painel-menu">
                        
                        <span class="painel-menu-titulo">Bem vindo, {{request.user.username}}!</span>  
                        <div class="dropdown-divider"></div>
                            
                        <div id="painel-menu-content">
                        <ul class="nav navbar-nav">
                        <span class="painel-menu-titulo">Meus Cursos</span>         asdf 
                        {% for pacote in pacotes %}
                            <li><a href="{% url 'accounts:listar_leis' pk=pacote.id %}">{{pacote.name}}</a></li>                            
                        {% endfor %}    
                        </ul>
                        <hr>                        
                        <span class="painel-menu-titulo">Minha Conta</span>                        
                       
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'accounts:editar' %}">Editar Conta</a></li>                            
                            <li><a href="{% url 'accounts:editar_password' %}">Alterar Senha</a></li>                            
                        </ul>
                       </div>
                    </div>

                    <!-- End Fixed Left Share -->
            
                    <!-- Begin Post -->
                    <div class="col-md-8 col-md-offset-2 col-xs-12" id="painel-conteudo">                            
                                                                
                        <div class="">
                                {%block dashboard_content%}
                                Nome de usuario: {{request.user}}<br/>
                                Email: {{request.user.email}}<br/>
                                Data de cadastro no site: {{request.user.date_joined}}
                                {% endblock %}
                        </div>
                    </div>
                    
            
                </div>
            </div>
            <!-- End Article
            ================================================== -->
{% endblock %}
