{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h5>Informe seu E-mail</h5>
    </div>
    <div class="row">
        
        {% if success %}
        <p>Um e-mail foi enviando para você com mais detalhes de como criar uma nova senha</p>
        {% else %}        
        <form method="post">
            <div class="form-group">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                
                    <button type="submit" class="btn btn-primary">Enviar E-mail</button>
                
            </fieldset>
        </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}